.auth-form-desktop {
    background-color: rgba(40, 40, 40, 0.236);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20vh;
    /* width: 600px; */
    width: 60vw;
    /* height: 400px; */
    height: 500px;
    border-radius: 10px;
    padding-top: 20vh;
    text-align: center;
     /* margin-left: 30vw; */
    margin: auto;

  }
  
  .auth-form-mobile {
    margin-top: 33vh;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
    margin-left: 13vw;
  }
  