/* Zad 2 Oto style GLOBALNE w pliku zewnętrznym które mogą być importowane do komponentów */
html,body{
    height:100%;
     min-height:100%; 
     background-color: rgb(44, 41, 41);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
    }
    
.centered-inside{
    display: flex;
    margin:auto;
}

.wide{
    width: 80vw;
    margin: auto;
}

.standard{
    width:20vw;
    margin: auto;
}

.red-text{
    color: rgb(130, 90, 30);
}

.background-lightgray {
    background-color: lightgray;
}

.background-lightblue {
    background-color: lightblue
}

.content {
    max-width: 80vw;
    height: 100vh;
}

.left-menu {
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(8, 84, 183);
    height: 100vh;
    max-width: 20vw;
    min-width: 200px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.switch{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.button{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.switch label {
    margin: 10px;
}

#light .switch label {
    color: black;
}

#dark .switch label {
    color: white;
}

#light .horizontal-line{
    background-color: rgb(44, 41, 41);;
}

#dark .horizontal-line{
    background-color: rgb(226, 223, 223);;
}

#dark #icon {
    background-color: rgb(122, 121, 118);
    height: 35px;
    width: 50px;
    border-radius: 10%;
}
#light #icon {
    background-color: rgb(201, 200, 196);
    height: 35px;
    width: 50px;
    border-radius: 10%;
}